.competentions__img {
    position: absolute;
    width: 6.5rem;
    height: 6.5rem;
    top: 50%;
    right: 2.7rem;
    transform: translate(0, -51%);
}

@media only screen and (min-width: 62.51em) and (max-width: 76.5em) {
    .competentions__img {
        width: 5.9rem;
        height: 5.9rem;
        right: 1.7rem;
    }
}

@media only screen and (min-width: 48.1em) and (max-width: 62.5em) {
    .competentions__img {
        width: 4.7rem;
        height: 4.7rem;
        top: 2.6rem;
        right: 50%;
        transform: translate(50%,0);
    }
}

@media only screen and (min-width: 36.1em) and (max-width: 48.09em) {
    .competentions__img {
        position: absolute;
        width: 6.6rem;
        height: 6.6rem;
        top: 50%;
        right: 3.7rem;
        transform: translate(0, -50%);
    }
}

@media only screen and (min-width: 20.1em) and (max-width: 36.09em) {
    .competentions__img {
        width: 5.6rem;
        height: 5.6rem;
        right: 2rem;
    }
}

@media only screen and (max-width: 20.09em) {
    .competentions__img {
        width: 5.6rem;
        height: 5.6rem;
        right: 2rem;
    }
}