.experience__button {
    position: absolute;
    width: 2.8rem;
    height: 2.7rem;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.07);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(180deg);
    cursor: pointer;
}