.decoration__right {
    flex: 0 0 40.3em;
    background: #91E7F3;
}

@media only screen and (min-width: 62.5em) and (max-width: 76.5em) {
    .decoration__right {
        flex: 0 0 33.8em;
    }
}

@media only screen and (min-width: 48em) and (max-width: 62.49em) {
    .decoration__right {
        flex: 0 0 24.3em;
    }
}