.delimiter {
    padding-top: 6.3rem;
    padding-bottom: 11rem;
    background: #FFFFFF;

    /* &#d02,
    &#d03,
    &#d04,
    &#d05 {
        display: none;
    } */
}


@media only screen and (max-width: 48.09em) {
    .delimiter {
        padding-bottom: 8rem;
    }
}