.examples__graycol {
    width: 40.3rem;
    height: 100%;
    background: #DEDEDE;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0,0);
    z-index: 2;
}

@media only screen and (min-width: 62.5em) and (max-width: 76.5em) {
    .examples__graycol {
        width: 33.8rem;
    }
}

@media only screen and (min-width: 48em) and (max-width: 62.49em) {
    .examples__graycol {
        width: 24.3rem;
    }
}

@media only screen and (min-width: 36em) and (max-width: 47.99em) {
    .examples__graycol {
        display: none;
    }
}