.examples__preview-2 {
    width: 70.9rem;
    height: 41.6rem;
    position: absolute;
    bottom: 11.5rem;
    right: 0;
    transform: translate(0,0);
    z-index: 3;
}

@media only screen and (min-width: 62.5em) and (max-width: 76.5em) {
    .examples__preview-2 {
        bottom: 25.1rem;
        width: 60.4rem;
        height: auto;
    }
}

@media only screen and (min-width: 48em) and (max-width: 62.49em) {
    .examples__preview-2 {
        bottom: 35.1rem;
        width: 44.8rem;
        height: auto;
    }
}

@media only screen and (min-width: 36em) and (max-width: 47.99em) {
    .examples__preview-2 {
        position: inherit;
        margin-left: -6.2rem;
        & img {
            width: 59.3rem;
            height: fit-content;
        }
    }
}