.examples__preview {
    width: 70.9rem;
    height: 41.6rem;
    position: absolute;
    top: 11.5rem;
    right: 0;
    transform: translate(0, 0);
    z-index: 3;
}

@media only screen and (min-width: 62.51em) and (max-width: 76.5em) {
    .examples__preview {
        top: 13.3rem;
        width: 60.4rem;
        height: auto;
    }
}

@media only screen and (min-width: 48.1em) and (max-width: 62.5em) {
    .examples__preview {
        top: 12.3rem;
        width: 44.8rem;
        height: auto;
    }
}

@media only screen and (min-width: 36.1em) and (max-width: 48.09em) {
    .examples__preview {
        position: inherit;
        width: 100%;
        margin-left: -6.2rem;

        & img {
            width: 59.3rem;
            height: fit-content;
        }
    }
}

@media only screen and (min-width: 20.1em) and (max-width: 36.09em) {
    .examples__preview {
        display: none;
    }
}

@media only screen and (max-width: 20.09em) {
    .examples__preview {
        display: none;
    }
}