.header__fb-article {
    @include font (700, 1.7rem, 140%);
    @include gray-3;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 76.2rem;
}

@media only screen and (max-width: 36.09em) {
    .header__fb-article {
        @include font (700, 1.5rem, 140%);
        @include gray-3;
        margin-bottom: 1rem;
        width: 100%;
        max-width: 76.2rem;
    }
}