.benefits__button {
    flex: 0 1 20.1rem;
    text-align: center;
    @include font (600, 1.3rem, 154%);
    text-transform: uppercase;
    height: 100%;
    @include white;
    background: #7ECFDA;
    animation: bg1 .2s;
    animation-timing-function: ease-out;

    @keyframes bg1 {

        from {
            background: #68c6d3;
        }

        to {
            background: #7ECFDA;
        }
    }

    &:hover {
        background: #68c6d3;
        animation: bg2 .2s;
        animation-timing-function: ease-out;

        @keyframes bg2 {

            from {
                background: #7ECFDA;
            }

            to {
                background: #68c6d3;
            }
        }
    }
}

@media only screen and (min-width: 62.51em) and (max-width: 76.5em) {
    .benefits__button {
        flex: 0 1 16.4rem;
        @include font (600, 1.1rem, 154%);
    }
}

@media only screen and (min-width: 20.1em) and (max-width: 36.09em) {
    .benefits__button {
        @include font (600, 1.3rem, 154%);
        padding: 2.1rem 4rem;
        margin: 0 auto;
        height: auto;
    }
}

@media only screen and (max-width: 20.09em) {
    .benefits__button {
        @include font (600, 1.3rem, 154%);
        padding: 2.1rem 4rem;
        margin: 0 auto;
        height: auto;
    }
}