.header__title {
    font-weight: bold;
    font-size: 7.8rem;
    line-height: 100%;
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    @include gray-1;
    margin-bottom: 1.1rem;
}

@media only screen and (min-width: 62.51em) and (max-width: 76.5em) {
    .header__title {
        font-size: 6.9rem;
    }
}

@media only screen and (min-width: 36.1em) and (max-width: 48.09em) {
    .header__title {
        font-size: 6.25rem;
    }
}

@media only screen and (max-width: 36.09em) {
    .header__title {
        font-size: 5.28rem;
        margin-bottom: 2rem;
    }
}