.header__name {
    position: relative;
    @include font (700, 2.3rem, 150%); 
    @include gray-2;
    padding-left: 4.2rem;
    &::before {
        content: url("../img/sign.svg");
        position: absolute;
        top: -.2rem;
        left: 0;
        transform: translate(0,0);
        z-index: 1;
        width: 1.8rem;
        height: fit-content;
    }
}

@media only screen and (min-width: 62.5em) and (max-width: 76.5em) {
    .header__name {
        @include font (700, 1.7rem, 150%); 
        padding-left: 3.1rem;
        &::before { 
            content: url("../img/sign.svg");
            position: absolute;
            top: -.1rem;
            left: 0;
            transform: translate(0,0) scale(.8);
            z-index: 1;
        }
    }
}

@media only screen and (min-width: 36em) and (max-width: 62.49em) {
    .header__name {
        @include font (700, 1.9rem, 150%); 
        padding-left: 5.6rem;
        &::before { 
            content: url("../img/burger.svg");
            position: absolute;
            top: 0.26rem;
            left: 0;
            transform: translate(0,0) scale(.8);
            z-index: 1;
        }
    }
}