.header__name {
    position: relative;
    @include font (700, 2.3rem, 150%); 
    @include gray-2;
    padding-left: 4.2rem;
    &::before {
        content: '';
        background-image: url("../img/sign.svg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0,-50%);
        z-index: 1;
        width: 2rem;
        height: 1rem;
    }
}

@media only screen and (min-width: 62.51em) and (max-width: 76.5em) {
    .header__name {
        @include font (700, 1.7rem, 150%); 
        padding-left: 3.1rem;
        &::before { 
            content: '';
            background-image: url("../img/sign.svg");
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0,-50%);
            width: 1.6rem;
            height: .7rem;
            z-index: 1;
        }
    }
}

@media only screen and (min-width: 36.1em) and (max-width: 62.5em) {
    .header__name {
        @include font (700, 1.9rem, 150%); 
        padding-left: 0;
        &::before { 
            content: '';
            background-image: none;
        }
    }
}

@media only screen and (max-width: 36.09em) {
    .header__name {
        @include font (700, 1.8rem, 150%); 
        padding-left: 0;
        margin-top: 6.8rem;
        &::before { 
            content: '';
            background-image: none;
        }
    }
}
