.main__input--placeholder {
    @include font (600, 1.4rem, 110%);
    @include gray-32;
    margin: .4rem 0 3rem;
    display: none;
}

@media only screen and (max-width: 36.09em) {
    .main__input--placeholder {
        display: block;
    }

    .main__input--placeholder2 {
        margin-left: -3.2rem;
        width: calc(100% + 3.2rem);
    }
}