.career {
    width: 69.8rem;
}

@media only screen and (min-width: 62.51em) and (max-width: 76.5em) {
    .career {
        width: 57.6rem;
    }
}

@media only screen and (min-width: 20.1em) and (max-width: 62.5em) {
    .career {
        width: 100%;
    }
}

@media only screen and (max-width: 20.09em) {
    .career {
        width: 100%;
    }
}