.customer__title {
    position: relative;
    @include font (bold, 2.3rem, 154%);
    text-transform: uppercase;
    @include turquoise;
    margin-bottom: 3.2rem;
}

@media only screen and (min-width: 48.1em) and (max-width: 76.5em) {
    .customer__title {
        @include font (bold, 2.1rem, 154%);
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 48.09em) {
    .customer__title {
        @include font (bold, 2.1rem, 154%);
        margin-bottom: 3rem;
        text-align: center;
        //padding-right: 2rem;
        //margin-left: 2rem;
    }
}