.experience__frame--max {
    height: max-content;
    animation-timing-function: ease-out;
    @keyframes framemax-1 {

        from {
            height: 0;
        }
        to { 
            height: 50.1rem;
        }
    }
    @keyframes framemax-2 {

        from {
            height: 0;
        }
        to { 
            height: 53.3rem;
        }
    }
    @keyframes framemax-3 {

        from {
            height: 0;
        }
        to { 
            height: 17.9rem;
        }
    }
    @keyframes framemax-4 {

        from {
            height: 0;
        }
        to { 
            height: 36.3rem;
        }
    }
    @keyframes framemax-5 {

        from {
            height: 0;
        }
        to { 
            height: 32.4rem;
        }
    }
    @keyframes framemax-6 {

        from {
            height: 0;
        }
        to { 
            height: 17.3rem;
        }
    }
    @keyframes framemax-7 {

        from {
            height: 0;
        }
        to { 
            height: 23.9rem;
        }
    }
}

@media only screen and (max-width: 36.09em) {
    .experience__frame--max {
        height: max-content;
        animation-timing-function: ease-out;
        @keyframes framemax-1 {
    
            from {
                height: 0;
            }
            to { 
                height: 59.2rem;
            }
        }
        @keyframes framemax-2 {
    
            from {
                height: 0;
            }
            to { 
                height: 67rem;
            }
        }
        @keyframes framemax-3 {
    
            from {
                height: 0;
            }
            to { 
                height: 23.8rem;
            }
        }
        @keyframes framemax-4 {
    
            from {
                height: 0;
            }
            to { 
                height: 40.3rem;
            }
        }
        @keyframes framemax-5 {
    
            from {
                height: 0;
            }
            to { 
                height: 42.1rem;
            }
        }
        @keyframes framemax-6 {
    
            from {
                height: 0;
            }
            to { 
                height: 17.3rem;
            }
        }
        @keyframes framemax-7 {
    
            from {
                height: 0;
            }
            to { 
                height: 25.8rem;
            }
        }
    }
}
        