.experience__frame--min {
    height: 0;
    animation-timing-function: ease-out;
    @keyframes framemin-1 {

        from {
            height: 50.1rem;
        }
        to { 
            height: 0;
        }
    }
    @keyframes framemin-2 {

        from {
            height: 53.3rem;
        }
        to { 
            height: 0;
        }
    }
    @keyframes framemin-3 {

        from {
            height: 17.9rem;
        }
        to { 
            height: 0;
        }
    }
    @keyframes framemin-4 {

        from {
            height: 36.3rem;
        }
        to { 
            height: 0;
        }
    }
    @keyframes framemin-5 {

        from {
            height: 32.4rem;
        }
        to { 
            height: 0;
        }
    }
    @keyframes framemin-6 {

        from {
            height: 17.3rem;
        }
        to { 
            height: 0;
        }
    }
    @keyframes framemin-7 {

        from {
            height: 23.9rem;
        }
        to { 
            height: 0;
        }
    }
}

@media only screen and (max-width: 36.09em) {
    .experience__frame--min {
        height: 0;
        animation-timing-function: ease-out;
        @keyframes framemin-1 {
    
            from {
                height: 59.2rem;
            }
            to { 
                height: 0;
            }
        }
        @keyframes framemin-2 {
    
            from {
                height: 67rem;
            }
            to { 
                height: 0;
            }
        }
        @keyframes framemin-3 {
    
            from {
                height: 23.8rem;
            }
            to { 
                height: 0;
            }
        }
        @keyframes framemin-4 {
    
            from {
                height: 40.3rem;
            }
            to { 
                height: 0;
            }
        }
        @keyframes framemin-5 {
    
            from {
                height: 42.1rem;
            }
            to { 
                height: 0;
            }
        }
        @keyframes framemin-6 {
    
            from {
                height: 17.3rem;
            }
            to { 
                height: 0;
            }
        }
        @keyframes framemin-7 {
    
            from {
                height: 25.8rem;
            }
            to { 
                height: 0;
            }
        }
    }
}