a.delimiter__gotoup {
    position: absolute;
    top: 3rem;
    right: 3rem;
    transform: translate(0, 0);
    @include font (400, 1.4rem, 70%);
    padding: 0.9rem 2.3rem 1.2rem;
    border: 0.1rem solid #909090;
    border-radius: 5.6rem;
    background: #FFFFFF;
    @include gray-2;

    &:hover {
        @include yellow-bg;
    }

    &:active {
        @include turquoise-bg;
        @include white;
        border: .1rem solid #7ECFDA;
    }
}