.skills__rating {
    flex: 0 0 auto;
    width: 13.7rem;
    @include turquoise-bg;
    @include white;
    @include font (600, 1.4rem, 116%);
    padding: .625rem 1.5rem 1rem; 
    letter-spacing: 0.2 em;
    text-align: center;
}