.examples__desc {
    @include font (normal, 1.3rem, 154%);
    @include gray-2;
    margin-bottom: .7rem;
    width: 38.4rem;
}

@media only screen and (min-width: 62.51em) and (max-width: 76.5em) {
    .examples__desc {
        width: 37rem;
    }
}

@media only screen and (min-width: 48.1em) and (max-width: 62.5em) {
    .examples__desc {
        width: 30rem;
    }
}

@media only screen and (min-width: 36.1em) and (max-width: 48.09em) {
    .examples__desc {
        padding-left: 5.9rem;
    }
}

@media only screen and (min-width: 20.1em) and (max-width: 36.09em) {
    .examples__desc {
        padding-left: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 20.09em) {
    .examples__desc {
        padding-left: 0;
        width: 100%;
    }
}