.examples__desc {
    @include font (normal, 1.3rem, 154%);
    @include gray-2;
    margin-bottom: .7rem;
    width: 38.4rem;
}

@media only screen and (min-width: 62.5em) and (max-width: 76.5em) {
    .examples__desc {
        width: 37rem;
    }
}

@media only screen and (min-width: 48em) and (max-width: 62.49em) {
    .examples__desc {
        width: 30rem;
    }
}

@media only screen and (min-width: 36em) and (max-width: 47.99em) {
    .examples__desc {
        padding-left: 5.9rem;
    }
}