.examples__desc--bold {
    @include font (600, 1.3rem, 154%);
    @include gray-2;
    margin-bottom: .7rem;
    margin-top: 1.6rem;
}

@media only screen and (min-width: 36em) and (max-width: 47.99em) {
    .examples__desc--bold {
        padding-left: 5.9rem;
    }
}