.examples__dots {
    width: 7.8rem;
    margin-bottom: 3.5rem;
}

@media only screen and (min-width: 36em) and (max-width: 76.5em) {
    .examples__dots {
        width: 6.9rem;
        margin-bottom: 3.1rem;
    }
}

@media only screen and (min-width: 36em) and (max-width: 47.99em) {
    .examples__dots {
        margin-right: auto;
        margin-left: auto;
    }
}