.change-menu__wrap {
    display: flex;
    width: 100%;
    max-width: 57.5rem;
    height: 19.9rem;
    margin: 0 auto;
    margin-bottom: 6.7rem;
}

@media only screen and (max-width: 36.09em) {
    .change-menu__wrap {
        display: block;

        & a:first-child {
            margin-bottom: 1rem;
        }
    }
}