.video__cross {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    background: #b8b8b8;
    cursor: pointer;
    & img {
        position: absolute;
        width: 1.5rem;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}