.buttons__center {
    display: block;
    margin-left: -2.4rem;
    margin-right: -2.4rem;
    //width: 106rem;
    margin-bottom: 5rem;
}


@media only screen and (max-width: 62.5em) {
    .buttons__center {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
}