.header__content {
    flex: 1 1 auto;
    margin-bottom: 5.4rem;
}

@media only screen and (min-width: 62.51em) and (max-width: 76.5em) {
    .header__content {
        margin-bottom: 5.1rem;
    }
}

@media only screen and (min-width: 36.1em) and (max-width: 48.09em) {
    .header__content {
        margin-bottom: 7.4rem;
    }
}