.contacts__column {
    &:first-child {
        margin-right: 7.6rem;
    }
    & li:not(:last-of-type) {
        margin-bottom: 1.4rem;
    }
}

@media only screen and (min-width: 48.1em) and (max-width: 62.5em) {
    .contacts__column {
        &:first-child {
            margin-right: 0;
        }
    }
}

@media only screen and (min-width: 36.1em) and (max-width: 48.09em) {
    .contacts__column {
        &:first-child {
            width: 19rem;
            margin-right: 0;
        }
    }
}

@media only screen and (min-width: 20.1em) and (max-width: 36.09em) {
    .contacts__column {
        width: 100%;
        padding-right: 3.8rem;
        margin-right: 0;
        &:first-child {
            margin-bottom: 1.4rem;
        }
    }
}

@media only screen and (max-width: 20.09em) {
    .contacts__column {
        width: 100%;
        padding-right: 3.8rem;
        margin-right: 0;
        &:first-child {
            margin-bottom: 1.4rem;
        }
    }
}