.popup-menu {
    //display: none;
    opacity: 0;
    position: fixed;
    top: 45%;
    left: -150%;
    transform: translate(-50%, -45%);
    width: 48.4rem;
    height: 31.5rem;
    background: #fefef2;
    box-shadow: 0.4rem 0.4rem 1rem 0rem rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

/* @media only screen and (max-width: 62.5em) {
    .popup-menu {
        display: block;
    }
} */

@media only screen and (max-width: 36.09em) {
    .popup-menu {
        width: 32rem;
        height: 33.2rem;
    }
}