.popup-menu--in {
    opacity: 100;
    left: 50%;
    animation: slice1 .3s;
    animation-timing-function: ease-out;

    @keyframes slice1 {

        from {
            opacity: 0;
            left: -150%;
        }

        to {
            opacity: 100;
            left: 50%;
        }
    }
}