.behance {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 11.9rem;
    height: 11.9rem;
    @include turquoise-bg;
    padding-top: 2.9rem; 
    text-align: center;
    
    & img {
        width: 4.9rem;
        height: fit-content;
        margin-bottom: 1rem;
    }

} 