.principals__stories {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
}

@media only screen and (min-width: 20.1em) and (max-width: 62.5em) {
    .principals__stories {
        display: block;
    }
}

@media only screen and (max-width: 20.09em) {
    .principals__stories {
        display: block;
    }
}