.mark3 {
    position: relative;
    &::before {
        content: 'уровень';
        position: absolute;
        top: -3.4rem;
        left: 50%;
        transform: translate(-50%, 0);
        @include turquoise;
        @include font (normal, 1.4rem, 150%);
        font-style: italic;
    }
}

@media only screen and (min-width: 48.1em) and (max-width: 62.5em) {
    .mark3 {
        position: relative;
        &::before {
            content: none;
        }
    }
}

