.header__menu li a {
    @include font (600, 1.2rem, 150%); 
    @include gray-3;
    padding-right: 3rem;
    &:hover {
        @include turquoise;
    }
}

.header__menu {
    @include vert-c;
}

@media only screen and (min-width: 62.51em) and (max-width: 76.5em) {
    .header__menu li a {
        @include font (600, 1.1rem, 150%); 
        @include gray-3;
        padding-right: 2.8rem;
    }
}

@media only screen and (min-width: 20.1em) and (max-width: 62.5em) {
    .header__menu {
        display: none;
    }
}

@media only screen and (max-width: 20.09em) {
    .header__menu {
        display: none;
    }
}