.change-menu {
    opacity: 0;
    position: fixed;
    top: 45%;
    left: -150%;
    transform: translate(-50%, -45%);
    width: 100%;
    max-width: 81.1rem;
    height: 53.6rem;
    background: #ffffff;
    box-shadow: 0 0 1.7rem 0 rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 2.1rem 9rem;
}

@media only screen and (max-width: 36.09em) {
    .change-menu {
        padding: .5rem .5rem;
    }
}