* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-size: 10px; 
  // font-size: 0.520835vw; // на разрешении 1920 0.520835vw === 10px
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  text-rendering: auto;
  margin: 0;
  padding: 0;
  color: #5C5C5C;
}

body {
  background-color: #F5F5F5;
  padding-top: 4.4rem;
  padding-bottom: 4.4rem;
}

.container {
    position: relative;
    width: 120rem;
    /* top: 0;
    left: 50%;
    transform: translate(-50%, 0); */
    margin: 0 auto;
    background: #FFFFFF;
    padding-left: 7rem;
    padding-right: 7rem;
    z-index: 1;
}

.container-example {
  position: relative;
    width: 120rem;
    /* top: 0;
    left: 50%;
    transform: translate(-50%, 0); */
    margin: 0 auto;
    background: #F5F5F5;
    padding-left: 7rem;
    padding-right: 7rem;
    z-index: 1;
}

.container-footer {
  position: relative;
  width: 120rem;
  z-index: 1;
  margin: 0 auto;
}

li {
  list-style-type: none;
  padding-left: 0;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

input,
button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@media only screen and (min-width: 62.5em) and (max-width: 76.5em) {
  html {
   font-size: 10px;
   //font-size: 6.4px;
   // font-size vw: (100/768) * 10px; // где 768 это ширина мобильного экрана

 }
 .container {
   width: 100rem;
   margin: 3.7rem auto;
   padding-left: 6.5rem;
    padding-right: 6.5rem;
 }
} 

@media only screen and (min-width: 48em) and (max-width: 62.49em) {
   html {
    font-size: 10px;

  }
  .container {
    width: 76.79rem;
    margin: 3.7rem auto;
   padding-left: 5.8rem;
    padding-right: 5.8rem;
  }
} 

@media only screen and (min-width: 36em) and (max-width: 47.99em) {
  html {
   font-size: 10px;

 }
 .container {
   width: 35.99rem;
   margin: 2.9rem auto;
   padding-left: 4.4rem;
    padding-right: 4.4rem;
 }
}

@media only screen and (min-width: 20em) and (max-width: 35.99em) {
  html {
    font-size: 10px;
    // font-size: 1.75vw; //11.9px
    // font-size vw: (100/320) * 4.3px; // где 320 это ширина мобильного экрана
  }
  .container {
    width: 19.99rem;
    margin: 2.4rem auto;
   padding-left: 3.3rem;
    padding-right: 3.3rem;
  }
}

@media only screen and (max-width: 19.99em) {
  html {
    font-size: 3.125vw;
  }
  .container {
    width: 100%;
    margin: 0 auto;
   padding-left: 3.3rem;
    padding-right: 3.3rem;
  }
}