.competentions__frame {
    position: relative;
    width: 33.4rem;
    height: 12.2rem;
    @include gray-4-bg;
    padding-left: 2.1rem;
    margin-bottom: 5.7rem;
}

@media only screen and (min-width: 62.5em) and (max-width: 76.5em) {
    .competentions__frame {
        width: 27.6rem;
        height: 11.2rem;
        padding-left: 1.7rem;
    }
}

@media only screen and (min-width: 48em) and (max-width: 62.49em) {
    .competentions__frame {
        width: 19.8rem;
        height: 16.9rem;
        padding-left: .8rem;
        padding-right: .8rem;
        text-align: center;
    }
}

@media only screen and (min-width: 36em) and (max-width: 47.99em) {
    .competentions__frame {
        margin: 0 auto;
        position: relative;
        width: 37rem;
        height: 12.2rem;
        @include gray-4-bg;
        padding-left: 3.7rem;
        margin-bottom: 3.3rem;
    }
}