.change-menu__title {
    flex: 1 1 0;
    padding-right: 3rem;
    @include font (600, 1.8rem, auto);
    padding-top: 11.4rem;
    text-align: center;
    @include gray-23;
    user-select: none;
}

@media only screen and (max-width: 36.09em) {
    .change-menu__title {
        padding-top: 4.4rem;
    }
}