.benefits__number {
    font-weight: normal;
    font-size: 3.1rem;
    line-height: 100%;
    font-family: 'Bebas Neue';
    @include gray-2;
    margin-bottom: .2rem;
}

@media only screen and (min-width: 62.5em) and (max-width: 76.5em) {
    .benefits__number {
        font-size: 3rem;
    }
}
