.skills__rail {
    @include vert-c;

    &:not(:last-child) {
        margin-bottom: 2.5rem;
    }
}

@media only screen and (min-width: 48.1em) and (max-width: 76.5em) {
    .skills__rail {
        @include vert-c;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
}

@media only screen and (min-width: 48.1em) and (max-width: 62.5em) {
    .skills__rail {
        width: 31.4rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 36.1em) and (max-width: 48.09em) {
    .skills__rail .mark {
        &::before {
            content: none;
        }
    }
}