.intro {
    padding-right: 4.2rem;
    width: 36.2rem;
}

@media only screen and (min-width: 62.51em) and (max-width: 76.5em) {
    .intro {
        padding-right: 2.6rem;
        width: 29rem;
    }
}
@media only screen and (min-width: 20.1em) and (max-width: 62.5em) {
    .intro {
        position: relative;
        padding-right: 0;
        width: 100%;
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 20.09em) {
    .intro {
        position: relative;
        padding-right: 0;
        width: 100%;
        margin-bottom: 5rem;
    }
}