.skills__sort--txt {
    padding: .7rem 1.3rem .5rem; 
}

@media only screen and (min-width: 62.51em) and (max-width: 76.5em) {
    .skills__sort--txt {
        @include font (600, 1.2rem, 150%);
        padding: .7rem .6em .5rem; 
        letter-spacing: -.03em;
    }
}

@media only screen and (min-width: 48.1em) and (max-width: 62.5em) {
    .skills__sort--txt {
        @include font (600, 1.3rem, 150%);
        padding: .7rem .8rem .5rem; 
        letter-spacing: 0;
    }
}

@media only screen and (min-width: 20.1em) and (max-width: 36.09em) {
    .skills__sort--txt {
        @include font (600, 1.4rem, 150%);
        padding: .7rem 1.1rem .5rem; 
        letter-spacing: 0;
    }
}

@media only screen and (max-width: 20.09em) {
    .skills__sort--txt {
        @include font (600, 1.4rem, 150%);
        padding: .7rem 1.1rem .5rem; 
        letter-spacing: 0;
    }
}

