.turget__wrapper {
    display: flex;
    margin-left: -2.4rem;
    margin-right: -2.4rem;
    padding-top: 6.4rem;
    padding-bottom: 14rem;
}

@media only screen and (max-width: 62.5em) {
    .turget__wrapper {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 36.09em) {
    .turget__wrapper {
        padding-top: 16rem;
    }
}