.principals__column {
    width: 33.4rem;
}
@media only screen and (min-width: 62.51em) and (max-width: 76.5em) {
    .principals__column {
        width: 27.6rem;
    }
}
@media only screen and (min-width: 48.1em) and (max-width: 62.5em) {
    .principals__column {
        width: 31.4rem;
        margin-bottom: 2.5rem;
    }
}

@media only screen and (min-width: 20.1em) and (max-width: 36.09em) {
    .principals__column {
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 2.5rem;
    }
}

@media only screen and (max-width: 20.09em) {
    .principals__column {
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 2.5rem;
    }
}